/*.block-wrapper:hover {
	background-color: #e0e0e0e0;
}

.block-wrapper:hover .block {
	background-color: #d0d0d0d0;
}*/

.block-wrapper .block .block-controls {
	margin: 0;
	width: calc(var(--column-width) - var(--column-padding));
	margin: 5px;
}

.block-wrapper {
	margin: 0px 5px;
	/*margin-top: -1px;*/
}

.block {
	color: #ededed;
	font-size: 1.1rem;
	resize: none;
	padding: 5px;
	padding-right: 25px;
	/*background-color: #262626;*/
}

.block-transcluded {
	background-color: #262626;
	font-style: italic;
}

.block-saved {
	border: 3px solid #dcdcdc;
	/*background-color: #ededed;*/
}

.block-saved-label {
	color: #dcdcdc;
	float: right;
}

.block-button {
	cursor: pointer;
	display: block;
	padding: 5px;
	font-size: 14px;
	font-family: freight-sans-pro, sans-serif;
	/*margin: 5px 0px;*/
	width: 50px;
	background-color: #262626;
}

textarea {
	width: calc(100% - 40px);
	margin: 0 5px;
	background-color: #262626 !important;
}

.loader {
	height: 5px;
	width: 5px;
	color: #dcdcdc;
	position: relative;
	display: inline-block;
	border: 3px solid;
	border-radius: 50%;
	border-top-color: transparent;
	animation: rotate 1s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
