.post {
	padding: 5px;
	/*margin: 10px 0;*/
	/*background-color: #eff4fc;*/
	/*border: 1px solid #c9dbfc;*/
	width: 100%;
}

.post-height-limited {
	max-height: 75vh;
	overflow: auto;
}

.post-title {
	font-family: freight-sans-pro, sans-serif;
	display: inline-block;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #4c4c4c;
}

.post-subtitle {
	color: #4c4c4c;
	margin-top: 0;
	margin-bottom: 10px;
	font-family: freight-sans-pro, sans-serif;
	display: inline-block;
	font-weight: normal;
}
