.block:hover {
	background-color: #e0e0e0e0;
}

.block {
	font-family: sans-serif;
	font-size: 100%;
	resize: none;
	width: calc(100% - 20px);
	border: none;
	margin: 5px;
	padding: 5px;
}

textarea {
	background-color: #e0e0e0e0;
}
