/*.block-wrapper:hover {
	background-color: #e0e0e0e0;
}

.block-wrapper:hover .block {
	background-color: #d0d0d0d0;
}*/

.block-wrapper .block .block-controls {
	margin: 0;
	width: calc(var(--column-width) - var(--column-padding));
	margin: 5px;
}

.block-wrapper {
	margin: 5px 5px;
}

.block {
	border: 1px solid #c9dbfc;
	font-family: sans-serif;
	font-size: 100%;
	resize: none;
	padding: 5px;
	background-color: white;
}

.block-transcluded {
	background-color: #c9dbfc;
	font-style: italic;
}

.block-toggle-controls {
	text-align: right;
	display: inline-block;
	width: 40px;
	position: relative;
	top: -25px;
	float: right;
	cursor: pointer;
}

.block-controls > div {
	cursor: pointer;
	float: right;
}

.block-controls {
	overflow: auto;
	padding-top: 5px;
	/*margin-top: -5px;*/
	position: absolute;
	z-index: 200;
}

.block-button {
	cursor: pointer;
	display: inline-block;
	padding: 5px;
	/*margin: 5px 0px;*/
	border-left: 1px solid #c9dbfc;
	border-right: 1px solid #c9dbfc;
	border-bottom: 1px solid #c9dbfc;
	background-color: white;
}

.toggle-icon {
	color: #c9dbfc;
	font-size: 10px;
	padding-right: 10px;
}

textarea {
	width: calc(100% - 20px);
	margin: 5px 5px;
	background-color: white;
}
