:root {
    --d-header-height: 40px;
    --d-footer-height: 60px;
}

.discussion-wrapper {
    max-width: var(--column-width);
    height: calc(100vh - var(--column-padding) * 2);
    max-height: 1350px;
    width: 100%;
    padding: var(--column-padding);
    position: relative;
}

.discussion-overflow-wrapper {
    height: calc(
        100% - var(--d-header-height) - var(--d-footer-height) -
            var(--column-padding) * 2
    );
    /*max-height: 80%;*/
    overflow-y: auto;
}

.discussion {
    min-height: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
}

.discussion-header {
    height: var(--d-header-height);
    margin: 0;
}

button {
    cursor: pointer;
    border: 1px solid #c9dbfc;
}
