.post {
	padding: 10px;
	margin: 10px 0;
	background-color: #eff4fc;
	border: 1px solid #c9dbfc;
	width: 100%;
}

.post-height-limited {
	max-height: 75vh;
	overflow: auto;
}

.post-title {
	margin-top: 0px;
	margin-left: 10px;
}
