.tags {
	/*float: left;*/
	display: inline-block;
}

.tag-wrapper {
	max-width: 300px;
	margin-bottom: 15px;
}

.tag-input {
	border: none;
	padding: 2px;
	margin: 5px 0;
	font-size: 14px;
	display: inline-block;
	max-width: 100px;
	background-color: #c9dbfc;
	border-left: 1px solid #c9dbfc;
	border-right: 1px solid #c9dbfc;
	border-bottom: 1px solid #c9dbfc;
}

.tag {
	/*to account for the overlapping borders*/
	background-color: #c9dbfc;
	cursor: default;
	/*margin-right: -1px;*/
	display: inline-block;
	padding: 2px;
	margin-top: 5px;
	margin-right: 5px;
	border-left: 1px solid #c9dbfc;
	border-right: 1px solid #c9dbfc;
	border-bottom: 1px solid #c9dbfc;
}

.tag-button {
	display: inline-block;
	padding: 2px;
	margin-top: 5px;
	cursor: pointer;
}

.tag-close {
	display: inline-block;
	margin: 0 5px;
	cursor: pointer;
}
