.tags {
	/*float: left;*/
	display: inline-block;
}

.tag-wrapper {
	float: left !important;
	max-width: 300px;
}

.tag-input {
	border: none;
	padding: 5px;
	font-size: 14px;
	display: inline-block;
	max-width: 100px;
	border-left: 1px solid #c9dbfc;
	border-right: 1px solid #c9dbfc;
	border-bottom: 1px solid #c9dbfc;
}

.tag {
	/*to account for the overlapping borders*/
	background-color: #8aa7fc;
	cursor: default;
	margin-right: -1px;
	display: inline-block;
	padding: 5px;
	border-left: 1px solid #c9dbfc;
	border-right: 1px solid #c9dbfc;
	border-bottom: 1px solid #c9dbfc;
}

.tag-close {
	display: inline-block;
	margin: 0 5px;
	cursor: pointer;
}
