:root {
	--column-padding: 10px;
	--column-width: 550px;
}

body {
	font-size: 14px;
}

.wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

button {
	margin-right: 10px;
	border: 0;
	padding: 10px;
	background-color: white;
}
